<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0 fw-bold">            
            <a class="text-dark text-decoration-none text-uppercase" href="{{ site.site_path }}" title="{{ site.name }}">
                <img class="" src="assets/sd-logo.svg" height="64">
            </a>
        </h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        {%- if site.data.global.navigation -%}

            {%- assign navigation = site.data.global.navigation -%}

        {%- else -%}

            {%- assign navigation = '' | split: ',' -%}

            {%- capture nav_data -%}
            {%- include navigation.yml -%}
            {%- endcapture -%}

            {%- assign nav_array = nav_data | split: ' - ' %}

            {%- for nav_item in nav_array -%}

                {%- if nav_item != '' -%}

                    {%- assign nav_cleaned = nav_item | strip | replace: 'title: ', '' | replace: '   url: ', '' -%}
                    {%- assign navigation = navigation | push: nav_cleaned -%}

                {%- endif -%}

            {%- endfor -%}
        {%- endif -%}
        <!-- <a class="nav-link fw-bold py-1 px-0 active text-dark" aria-current="page" href="/home.html">Home</a> -->
      </nav>
    </div>
  </header>



